body{
	background-color: black;
}
h1, h2{
	font-family: 'Exo', sans-serif;
	font-size: 70px;
	font-weight: 700;
	color: white;
}
h2{
	font-size: 48px;
	color: black;
	margin: auto;
}
h3,h6{
	padding: 10px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}
.card p{
	font-size: 17px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	padding: 15px;
}
.background{
	padding: 20px;
}
.card{
	height: 100%;
}
.card img{
	height: 150px;
	margin: auto;
}
.parallax {
	/* The image used */
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.4),
		rgba(0, 0, 0, 0)
		),url('../img/fondo_bogota.jpg');


	/* Set a specific height */
	min-height: 500px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.separator{
	height: 120px;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}
footer {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.9),
		rgba(0, 0, 0, 0.7)
		),url('../img/teal.jpg'); 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
footer p{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px; 
}
/***  desired colors for svg  ***/
.footer-icons{
	color: white;
}
.footer-icons:hover{
	color: Lightblue;
}

.footer-icons svg{
	max-height: 64px;
	width: auto;
	display: inline;
}

/****  magic trick  *****/
.footer-icons svg path{
	fill: currentcolor;
}
.footer-fixed{
	height: 50px;
	background-color: Teal;
}
.cont-carrousel{
	height: 950px;
}
.sep{
	min-height: 30px;
}
#general{
	font-size: 30px;
}
#profile{
	height: 200px;
}
.description{
	background: rgba(0, 0, 0, 0.5);
	color: white;
	font-family: 'Ubuntu', sans-serif;
	padding: 20px;
	margin: 20px;
	margin: auto;
}
.content{
	margin: 20px;
}
